<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#2a7ae2"
    },
    "button": {
      "background": "#fff",
      "text": "#2a7ae2"
    }
  },
  "showLink": false,
  "content": {
    "message": "Este sitio web utiliza cookies propias y de terceros para funcionar correctamente y obtener estadísticas.",
    "dismiss": "Entendido"
  },
  "position": "bottom-right"
});
</script>