---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = "h_" %}
{% assign LIST_PREFIX = "l_" %}

{% assign group_index = 0 %}

{% assign sort_categories = site.categories | sort %}

{% for category in sort_categories %}
  {% assign category_name = category | first %}

  <div class="card categories">
    <!-- top-category -->
    <div id="{{ HEAD_PREFIX }}{{ group_index }}"
      class="card-header d-flex justify-content-between hide-border-bottom">
      <span>
        <i class="far fa-folder{% if sub_categories_size > 0 %}-open{% endif %} fa-fw"></i>

        {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
        <a href="{{ _category_url | relative_url }}" class="ml-1 mr-2">{{ category_name }}</a>

        <!-- content count -->
        {% assign top_posts_size = site.categories[category_name] | size %}
        <span class="text-muted small font-weight-light">
            {{ top_posts_size }}
            {{ site.data.locales[lang].categories.post_measure }}
        </span>
      </span>
    </div> <!-- .card-header -->

  </div> <!-- .card -->

    {% assign group_index = group_index | plus: 1 %}
{% endfor %}
